@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700&display=swap");

#introduction {
  /* border: 1px solid; */
  border-bottom-left-radius: 125px;
  border-bottom-right-radius: 125px;
  padding: 4vw;
  box-shadow: 0px 8px 5px rgb(185, 185, 185);
  font-family: "Montserrat", sans-serif;
  background-image: url("introduction-img.png");
  background-size: contain;
  background-repeat: no-repeat;
  position: relative;
}

#introduction #top-section {
  /* height: 350px; */
}

#welcome-msg {
  /* border: 1px solid; */
  width: 40vw;
  margin: 140px 0px;
  text-align: left;
  padding: 20px;
}

#welcome-msg div.text {
  font-weight: 600;
}

#welcome-msg div.text .welcome {
  font-size: 1.5vw;
  margin: 0px 0px 1.6vw;
}

#welcome-msg div.text .name {
  font-size: 3.5vw;
  font-weight: bolder;
}

#welcome-msg div.text .lines {
  margin: 10px 0px;
  padding-right: 20px;
  line-height: 28px;
  font-size: 1.7vw;
  font-weight: 600;
}

#welcome-msg div.search {
  border: 3px solid #0f2f63;
  margin: 30px 10px 0px 0px;
  border-radius: 20px;
  height: 4vw;
  position: relative;
}

#welcome-msg div.search input {
  height: 95%;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  width: 70%;
  border: none;
  padding: 2px 3.5vw 0px 10px;
  font-size: 1.5vw;
}

#welcome-msg div.search input:focus {
  outline: none;
}

#welcome-msg div.search input::-webkit-input-placeholder {
  vertical-align: middle;
  font-size: 1.5vw;
  font-weight: 500;
  font-family: "Montserrat", sans-serif;
  color: black;
}

#welcome-msg div.search button {
  font-weight: 500;
  font-family: "Montserrat", sans-serif;
  border: 2px solid #0f2f63;
  position: absolute;
  top: 0;
  right: 0;
  width: 28%;
  height: 100%;
  border-radius: 12px;
  background: #0f2f63;
  color: white;
  font-size: 1.5vw;
  font-weight: 500px;
  outline: none;
  cursor: pointer;
}

#pa-features {
  /* border: 1px solid; */
  display: flex;
  justify-content: space-evenly;
  padding: 1.5vw;
}

#pa-features div.feature {
  /* border: 1px solid; */
  width: 17vw;
  border-radius: 25px;
  box-shadow: 0px 0px 4px 5px rgb(226, 226, 226);
}

#pa-features div.feature .feature-img {
  height: 10vw;
  /* border: 1px solid; */
  width: 10vw;
  margin: 1.5vw auto;
  border-radius: 50%;
  background-color: #ffdf75;
}

#pa-features div.feature .feature-text h6 {
  font-size: 1.5vw;
  /* border: 1px solid; */
  margin: 0px;
}

#pa-features div.feature .feature-text .text {
  font-size: 1.3vw;
  line-height: 1.5vw;
  margin: 10px auto 1.5vw;
}

#introduction #arrow {
  width: 5vw;
  height: 5vw;
  font-size: 2.2vw;
  background: #0f2f63;
  border-radius: 50%;
  border: 1px solid;
  position: absolute;
  bottom: -2.5vw;
  left: 48%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  cursor: pointer;
}